


.presentation{
    box-sizing: border-box;
    background: url("../images/background_retraite.jpeg");
    background-position-Y: -50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    justify-content: space-around;

    
}


.presentation_text{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    

}



underline_text{
    width: 20vw;
    height: 2px;
    background: white;
    border-radius: 100px;
}
.logo{
    
    background: url("../images/victor_clement.svg");
    /*height: 390px;
    width: 390px;*/
    background-size: cover;
    margin-top: -50px;
    height: 280px;
    width: 280px;
    top: 83vh;
    z-index: 0;
    


}
.retraite_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "libre baskerville";
    box-shadow: black 0px 2px 3px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.829) 25%, rgba(255, 255, 255, 0));
    padding: 20px;
    z-index: 1;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-around;
}
.retraite_text strong{
    letter-spacing: 6.5px;
    
    font-size: 27px;
}
.retraite_text p{
    font-size: 15px;
    line-height: 25px;
    font-family: "avenir next";
}
.retraite_text italic{
    font-family: "avenir next";
    font-size: 17px;
}
#button_retraite{
    width: 200px;
    font-size: 15px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
@media screen and (max-width:640px) and (min-width:200px){

    #button_retraite{
        width: 170px;
        height: 60px;
        font-size: 14px;
        margin-top: 20px;
    }
    

    .vca{
        width: 75vw;
        height: 13vw;
        margin-top: -20vh;
        font-size: 14px;
    }

    .logo{
        height: 250px;
        width: 250px;
        top: 60vh;
        background-size: contain;
    }
    .presentation_text{
        margin-top: -50vh;
        text-align: center;
        
    }

    


}


