


.presentation{
    box-sizing: border-box;
    background: url("../images/paysage_group1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    justify-content: space-around;

    
}


.presentation_text{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    

}



underline_text{
    width: 20vw;
    height: 2px;
    background: white;
    border-radius: 100px;
}
.logo{
    
    background: url("../images/victor_clement.svg");
    height: 390px;
    width: 390px;
    background-size: cover;
    margin-top: -50px;
    
    top: 83vh;
    


}

@media screen and (max-width:640px) and (min-width:200px){

    .vca{
        width: 75vw;
        height: 13vw;
        margin-top: -20vh;
        font-size: 14px;
    }

    .logo{
        height: 250px;
        width: 250px;
        top: 60vh;
        background-size: contain;
    }
    .presentation_text{
        margin-top: -50vh;
        text-align: center;
    }

    


}


