.Slider{
    overflow: hidden;
    width: 70vw;
  margin: 30px auto;
  position: relative;
  padding: 4%;
  scroll-behavior: smooth;
}
.slider-viewport{
    width: 70vw;
  height: 200px;
  overflow: hidden;
}
.slider-content {
    display: grid;
    grid-auto-flow: column;
    -webkit-transition: 2s all;
    transition: 2s all;
    scroll-behavior: smooth;

    
  }


.slider-content .text {
    width: 70vw;
    height: 200px;
    scroll-behavior: smooth;
  }

.tem_box{
    position: absolute;
    margin-left: 50vw;
    margin-top: 20vw;
    display: flex;
    flex-flow: row;
   
    
    
}



.tem_box a{
    
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    
    background: #383838ab;
    

}


.t_1{

    -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
          
          

}
.t_2{

  -webkit-transform: translateX(-70vw);
        transform: translateX(-70vw);
        
        

}
.t_3{

    -webkit-transform: translateX(-140vw);
          transform: translateX(-140vw);
          
          

}
.t_4{

  -webkit-transform: translateX(-210vw);
        transform: translateX(-210vw);
        
        

}
.t_5{

  -webkit-transform: translateX(-280vw);
        transform: translateX(-280vw);
        
        

}

@media screen and (max-width:640px) and (min-width:200px){

  .tem_box{
    position: absolute;
    margin-left: 20vw;
    margin-top: 30vw;
    display: flex;
    flex-flow: row;
   
    
    
}

.tem_box a{
    
  margin-left: 7px;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  border-style: solid;
  
  background: #383838ab;
  

}

.slider-content .text {
  font-size: 9px;
  letter-spacing: 0.8px;
  line-height: 13px;
}
    
    
}

/*
#tem_1:target .slider-content{

    -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
          
          scroll-behavior: smooth;

}

#tem_2:target .slider-content{

    -webkit-transform: translateX(-70vw);
          transform: translateX(-70vw);


}
#tem_3:target .slider-content{

    -webkit-transform: translateX(-140vw);
          transform: translateX(-140vw);


}

#tem_4:target .slider-content{

    -webkit-transform: translateX(-210vw);
          transform: translateX(-210vw);


}
#tem_5:target .slider-content{

    -webkit-transform: translateX(-280vw);
          transform: translateX(-280vw);


}*/


