.Offre{
    padding-top: 1vw;
    background: url("../images/fond_or.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Offre :first-child{
    margin-top: 0.5vw;
    margin-bottom: 1vw;

}
#icon_bilan,#icon_marma{
    width:70%;
    height:70%;
    
}


.Offre underline{
    width: 70%;
    height: 2px;
}

.detail_offre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

}
.detail_offre h3{
    font-size: 27px;
    color: rgba(255, 255, 255, 0.966);

}



.detail_offre *{
    margin-bottom: 1vw;

}
.detail_offre text{
    font-size: 16px;
    width: 73%;
    letter-spacing: 1;
    text-align: center;

}
.cercle_logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 8.5vw;
    height: 8.5vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 100%;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.301);
    
}
.cercle_logo:nth-of-type(1) {
    background: #69A863;
}

@media screen and (max-width:640px) and (min-width:200px){

.detail_offre h1{
    font-size: 17px;
}


.cercle_logo{
    width: 20vw;
    height: 20vw;
}

.detail_offre text{
    font-size: 12px;
    width: 85%;
}

.detail_offre{
    margin-top: 15vw;
}
.detail_offre underline{
    margin-bottom: 5vw;
}
.Offre{
    padding-top: 10vw;
    
}

}