.Parcours{
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw;
    
}
#parcours_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;

}
#parcours_text{
    margin-top: -4vh;
    width: 39vw;
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: ease-in 1s;
   
}
#parcours_text{
    transition: 2s;
}
#parcours_text h1{
    padding-top: 0;
    margin-top: 0;
    
}
#parcours_text text{
    box-shadow: -2px 1px 1px rgba(0, 0, 0, 0.205);
    padding: 1vw;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    transition: 2s;
    height: auto;

}
#parcours_text button{
    align-self: center;
    color: #383838;
    margin-top: 2%;
    border-radius: 100%;
    border-width: 0px;
    background-color: white;
    border-style: solid;
    border-color: #383838;
    border-width: 2px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    transition: display 2s;
    font-family: "Hoefler";
    font-size: 16px;
    
    
}


.photo_vca{
    height: 22vw;
    width: 22vw;
    background: url("../images/photo_profil.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 5vh;
    
}
.Parcours .underline{
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 100%;
}

.display_none{
    display: none;
    transition: ease-in 2s;
}

.second_text{
    transition: ease-in 2s;
}


@media screen and (max-width:640px) and (min-width:200px){


    .Parcours{
        padding-top: 2vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #parcours_photo{
        flex-flow: column-reverse;
    }
    #parcours_text{
        width: 100%;
        margin-top: 4vw;
        
        
    }
    #parcours_text text{
        padding-left: 2vw;
        height: auto;
        transition: 2s;
        
        
    }
    .photo_vca{
        height: 25vh;
        width: 25vh;
        margin-top: 0px;
        margin-bottom: 3vw;
    }
    .smaller{
        height: 32vw;
    }
    .bigger{
        min-height: auto;
        height: 63vw;
        transition: 2s;
    }
    #parcours_text button{
        
        min-width: 40px;
        min-height: 40px;
       
        font-size: 13px;
        
        
    }
}