body{
  background-color: #FFFDF2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hoefler{
  font-family: 'Hoefler';
  font-size: 40px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

