@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

.block{
box-sizing: border-box;
width: 100%;
height: 100vh;

}

h1{
    text-align: center;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 4%;
    color: #383838;
}

.presentation_text p{
    letter-spacing: 4px;
    line-height: 1.2;
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 500;
    color: white;
    
}
.nav-bar p{

    letter-spacing: 1px;
    font-weight: 550;
    font-size: 17px;
    font-family: 'Raleway';
    color: #383838;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.205) ;

}

text{
    font-family: 'Hoefler';
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 16px;
    
    
}
button{
    color: white;
    font-family: "Contrail One";
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    pointer-events: fill;
}



@media screen and (max-width:640px) and (min-width:200px){

    text{
        
        font-size: 10px;
        
    }

    h1{
        
        font-size: 20px;
        letter-spacing: 1.6px;
        
    }

    .nav-bar p{

        
        font-size: 11px;
        
    
    }
    .presentation_text p{
        font-size: 15px;
        
    }


}